{% extends 'banner.html.twig' %}
{% block content %}
  <h2>{{ page_heading_2 }}</h2>

  <p>Messages go here</p>

  <p>TOKEN: <b>XXXXXXXXXXXXXXXXX</b></p>


  <div class="table-responsive-sm">
    <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Source</th>
          <th scope="col">Destination</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>447817814149</td>
          <td>447817814149</td>
          <td>17/12/2019 11:18:10</td>
          <td>SMS</td>
          <td>"switch":{"1":true,"2":false,"3":true,"4":false},"fan":true,"heater":33,"keypad":3,"id":"18-3110-AS"</td>
        </tr>
        </tbody>
      </table>
  </div>

  <p class="curr_page"><a href="{{ landing_page }}">Homepage</a></p>
{% endblock %}

