{% extends 'banner.html.twig' %}
{% block content %}
    <h2>{{ page_heading_2 }}</h2>
    <form action="{{ action }}" method={{ method }}>
        <button type="submit" class="btn btn-primary" value="Sign in again">Try to sign in again</button>
    </form>
    <br/>



{% endblock %}
