{% extends 'banner.html.twig' %}
{% block content %}
    <h2>{{ page_heading_2 }}</h2>


    <form action="{{ action }}" method="post">
        <fieldset>
            <legend>LOGIN</legend>
            <br>
            <label for="user_name">Enter your username:</label>
            <input id="user_name" name="user_name" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
            <br><br>
            <label for="password">Enter your password:</label>
            <input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="30" maxlength="50">
            <br><br>
            <button type="submit" class="btn btn-primary" value="Submit">Login to view content</button>
        </fieldset>
    </form>
{% endblock %}
